1 VERSIONINFO 
 FILEVERSION 0,1,52,0 
 PRODUCTVERSION 1   
 FILEOS VOS__WINDOWS32   
 FILETYPE VFT_DLL   
 BEGIN   
   BLOCK "StringFileInfo"   
   BEGIN   
     BLOCK "080904b0"   
     BEGIN   
       VALUE "CompanyName","The Road To Delphi\000"   
       VALUE "FileDescription","Shell Extension for Delphi Developers \000"   
       VALUE "FileVersion","0.1.52.0\000"   
       VALUE "InternalName","DelphiDevShellTools\000"   
       VALUE "LegalCopyright","The Road To Delphi Copyright 2014\000"   
       VALUE "LegalTrademarks","The Road To Delphi\000"   
       VALUE "OriginalFilename","DelphiDevShellTools.dll\000"   
       VALUE "ProductName","DelphiDevShellTools\000"   
       VALUE "Comments","RRUZ\000"   
     END   
   END   
   BLOCK "VarFileInfo"   
   BEGIN   
     VALUE "Translation", 0x0809 1200   
   END   
 END   
