logo RCDATA  "logo.png"
notepad RCDATA  "notepad.png"
cmd RCDATA  "cmd.png"
copy RCDATA  "copy.png"
osx RCDATA   "osx.png"
win RCDATA  "win.png"
ios RCDATA  "ios.png"
delphi RCDATA  "delphi.png"
delphig RCDATA  "delphig.png"
radcmd RCDATA  "radcmd.png"
msbuild RCDATA  "msbuild.png"
firemonkey RCDATA  "firemonkey.png"
vcl RCDATA  "vcl.png"
lazarusmenu RCDATA  "lazarusmenu.png"
lazbuild RCDATA  "lazbuild.png"
buildconf RCDATA  "buildconf.png"
platforms RCDATA  "platforms.png"
settings RCDATA  "settings.png"
common RCDATA  "common.png"
updates RCDATA  "updates.png"
checksum RCDATA  "checksum.png"
copy_unc RCDATA  "copy_unc.png"
copy_url RCDATA  "copy_url.png"
copy_content RCDATA  "copy_content.png"
copy_path RCDATA  "copy_path.png"
shield RCDATA  "shield.png"
fpc_tools RCDATA  "fpc_tools.png" 
logo_ico ICON  "logo_ico.ico"
notepad_ico ICON "notepad.ico"
cmd_ico ICON "cmd.ico"
copy_ico ICON "copy.ico"
osx_ico ICON "osx.ico"
win_ico ICON "win.ico"
ios_ico ICON "ios.ico" 
delphi_ico ICON "delphi.ico" 
delphig_ico ICON "delphig.ico" 
radcmd_ico ICON  "radcmd.ico"
msbuild_ico ICON  "msbuild.ico"
firemonkey_ico ICON "firemonkey.ico" 
vcl_ico ICON "vcl.ico"
lazarusmenu_ico ICON  "lazarusmenu.ico"
lazbuild_ico ICON  "lazbuild.ico"
buildconf_ico ICON "buildconf.ico"
platforms_ico ICON "platforms.ico"
settings_ico  ICON "platforms.ico"
common_ico ICON "common.ico"
updates_ico ICON "updates.ico"
checksum_ico ICON "checksum.ico"
copy_unc_ico ICON  "copy_unc.ico"
copy_url_ico ICON  "copy_url.ico"
copy_content_ico ICON  "copy_content.ico"
copy_path_ico ICON "copy_path.ico"
shield_ico ICON "shield.ico"
fpc_tools_ico ICON  "fpc_tools.ico" 