logo BITMAP "logo.bmp"
notepad BITMAP "notepad.bmp"
cmd BITMAP "cmd.bmp"
copy BITMAP "copy.bmp"
osx BITMAP "osx.bmp"
win BITMAP "win.bmp"
ios BITMAP "ios.bmp"
delphi BITMAP "delphi.bmp"
delphig BITMAP "delphig.bmp"
radcmd BITMAP "radcmd.bmp"
format BITMAP "format.bmp"
logo13 BITMAP "logo13.bmp"
notepad13 BITMAP "notepad13.bmp"
cmd13 BITMAP "cmd13.bmp"
copy13 BITMAP "copy13.bmp"
osx13 BITMAP "osx13.bmp"
win13 BITMAP "win13.bmp"
ios13 BITMAP "ios13.bmp"
delphi13 BITMAP "delphi13.bmp"
delphig13 BITMAP "delphig13.bmp"
radcmd13 BITMAP "radcmd13.bmp"
format13 BITMAP "format13.bmp"
touch BITMAP "touch.bmp"
touch13 BITMAP "touch13.bmp"
msbuild BITMAP "msbuild.bmp"
msbuild13 BITMAP "msbuild13.bmp"