logo RCDATA  "logo.png"
notepad RCDATA  "notepad.png"
cmd RCDATA  "cmd.png"
copy RCDATA  "copy.png"
osx RCDATA   "osx.png"
win RCDATA  "win.png"
ios RCDATA  "ios.png"
delphi RCDATA  "delphi.png"
delphig RCDATA  "delphig.png"
radcmd RCDATA  "radcmd.png"
msbuild RCDATA  "msbuild.png"
firemonkey RCDATA  "firemonkey.png"
vcl RCDATA  "vcl.png"
lazarusmenu RCDATA  "lazarusmenu.png"
lazbuild RCDATA  "lazbuild.png"
buildconf RCDATA  "buildconf.png"
platforms RCDATA  "platforms.png"
settings RCDATA  "settings.png"
common RCDATA  "common.png"
updates RCDATA  "updates.png"
checksum RCDATA  "checksum.png"
copy_unc RCDATA  "copy_unc.png"
copy_url RCDATA  "copy_url.png"
copy_content RCDATA  "copy_content.png"
copy_path RCDATA  "copy_path.png"
shield RCDATA  "shield.png"
fpc_tools RCDATA  "fpc_tools.png" 
delphi_ico ICON "delphi.ico" 
osx_ico ICON "osx.ico" 
firemonkey_ico ICON "firemonkey.ico" 
ios_ico ICON "ios.ico" 
buildconf_ico ICON "buildconf.ico"
platforms_ico ICON "platforms.ico"
vcl_ico ICON "vcl.ico"
win_ico ICON "win.ico"