logo BITMAP "logo.bmp"
notepad BITMAP "notepad.bmp"
cmd BITMAP "cmd.bmp"
copy BITMAP "copy.bmp"
osx BITMAP "osx.bmp"
win BITMAP "win.bmp"
ios BITMAP "ios.bmp"
delphi BITMAP "delphi.bmp"
delphig BITMAP "delphig.bmp"
radcmd BITMAP "radcmd.bmp"
format BITMAP "format.bmp"
touch BITMAP "touch.bmp"
msbuild BITMAP "msbuild.bmp"
brcc32 BITMAP "brcc32.bmp"
firemonkey BITMAP "firemonkey.bmp"
vcl BITMAP "vcl.bmp"
lazarusmenu BITMAP "lazarusmenu.bmp"
lazbuild BITMAP "lazbuild.bmp"
buildconf BITMAP "buildconf.bmp"
platforms BITMAP "platforms.bmp"
settings BITMAP "settings.bmp"
common BITMAP "common.bmp"