logo BITMAP "logo.bmp"
notepad BITMAP "notepad.bmp"
cmd BITMAP "cmd.bmp"
copy BITMAP "copy.bmp"
osx BITMAP "osx.bmp"
win BITMAP "win.bmp"
ios BITMAP "ios.bmp"
delphi BITMAP "delphi.bmp"
delphig BITMAP "delphig.bmp"